/***** body class *****/

.body {
    /*4x4 grid*/
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,min-content);
    grid-template-areas: 'header header header header'
                        'main main main main'
                        'main main main main'
                        'footer footer footer footer';
}

/***** header class *****/

.header {
    /*set the grid position*/
   grid-area: header;
    /*set the padding to 2rem
    set the element to a display of flex with a direction of row
    justify the content to the start along the main axis 
    align the items in the center along the cross axis*/
   padding: 2rem;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

/***** main class ******/

.main {
    /*set the grid position*/
    grid-area: main;
}

/***** footer class *****/

.footer {
    /*set the grid position*/
    grid-area: footer;

}